[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
langchain-groq = "*"
langchain-openai = "*"
langchain-community = "*"
langgraph = "*"
pydantic = "*"
fastapi = "*"

[dev-packages]

[requires]
python_version = "3.10"
